:root {
    --bright-orange : hsl(31, 77%, 52%);
    --dark-cyan : hsl(184, 100%, 22%);
    --very-dark-cyan : hsl(179, 100%, 13%);
    --transparent-white : hsl(0, 0%, 95%);
    --light-grey : hsla(0, 0%, 100%, 0.75);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--transparent-white);
    overflow: hidden;
}

main {
    display: flex;
    margin: 60px;
}

.first-column, .second-column, .third-column {
    flex: 33%;
}

.first-column {
    background-color: var(--bright-orange);
    border-radius: 20px 0 0 20px;
}

.first-column button {
    color: var(--bright-orange);
}

.second-column {
    background-color: var(--dark-cyan);
}

.second-column button {
    color: var(--dark-cyan);
}

.third-column {
    background-color: var(--very-dark-cyan);
    border-radius: 0 20px 20px 0;
}

.third-column button {
    color: var(--very-dark-cyan);
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: var(--transparent-white);
    font-size: 40px;
    margin-bottom: 50px;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--light-grey);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.9;
    margin-bottom: 80px;
}

button {
    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: none;
    background-color: var(--transparent-white);
    margin-bottom: 50px;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    margin-bottom: 60px;
}

button:hover {
    border: 2px solid var(--transparent-white);
    color: var(--transparent-white);
    background: none;
}

img {
    margin-top: 40px;
    margin-bottom: 50px;
}

img, h2, p, button {
    margin-left: 50px;
    margin-right: 50px;
}

@media screen and (max-width:600px) {
    body {
        overflow: auto;
    }
    main {
        flex-direction: column;
        margin: 30px;
        padding-bottom: 30px;
    }
    .first-column {
        border-radius: 20px 20px 0 0;
    }
    .third-column {
        border-radius: 0 0 20px 20px;
    }
    .attribution {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width:600px) and (max-width:769px) {
    body {
        margin-left: -3.25rem;
        overflow: hidden;
    }
}

footer {
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}

.attribution {
    margin-top: -35px;
    color: var(--very-dark-cyan);
}


.fem, .me {
    color: var(--bright-orange);
}
