.wrapper {
    margin-top: 4rem;
    text-align: center;
}

.first-section {
    font-family: 'Libre Franklin', 'sans-serif';
}

h1 {
    font-weight: 300;
    font-size: 40px;
    color: hsl(0, 0%, 59%);
}

span {
    font-weight: 700;
    color: black;
}

.subscribe-msg {
    margin-top: -1rem;
}

input {
    font-family: 'Libre Franklin', 'sans-serif';
    font-weight: 300;
    box-sizing: border-box;
    border-radius: 40px;
    border: 1px solid hsl(223, 100%, 88%);
    width: 350px;
    height: 50px;
    padding: 1.25rem;
    outline: none;
}

input::placeholder {
    color: hsl(0, 0%, 59%);
}

button {
    font-family: 'Libre Franklin', 'sans-serif';
    font-weight: 600;
    border-radius: 30px;
    border: none;
    width: 180px;
    height: 50px;
    color: white;
    background-color: hsl(223, 87%, 63%);
    cursor: pointer;
    box-shadow: 0px 5px 10px hsl(223, 100%, 88%);
}

button:hover {
    opacity: 0.5;
    transform: translate(0, -2px);
    transition: all 0.25s ease;
}

.dashboard-svg {
    width: 35%;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    border: 0.25px solid hsl(223, 100%, 88%);
    color: hsl(223, 87%, 63%);
    overflow: hidden;
}

.icon:hover {
    cursor: pointer;
    background-color: hsl(223, 87%, 63%);
    color: white;
}

.footer {
    font-family: 'Libre Franklin', 'sans-serif';
    font-size: x-small;
    color: hsl(0, 0%, 59%);
}

small {
    display: none;
}

.error {
    color: hsl(354, 100%, 66%);
    font-weight: 300;
    font-style: italic;
}

.input-error {
    border-color: hsl(354, 100%, 66%);
}

@media screen and (min-width:1224px) {
    .error {
        margin-top: 8px;
        margin-right: 200px;
    }
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 30px;
    }
    .subscribe-msg{
        margin-top: 1rem;
    }
    input {
        width: 330px;
    }
    button {
        width: 330px;
        margin-top: 1rem;
    }
    .dashboard-svg {
        width: 350px;
        height: 225px;
    }
    .icon {
        margin-top: 1.5rem;
    }
    .footer {
        margin-top: 1rem;
    }
    .error {
        margin-top: 12px;
    }
}

@media screen and (min-width:601px) {
    .dashboard-svg {
        width: 380px;
        height: 225px;
    }
    
    .error {
        margin-top: 8px;
        margin-right: 280px;
    }
}

@media screen and (min-width:760px) {
    .dashboard-svg {
        width: 380px;
        height: 225px;
    }

    .error {
        margin-top: 8px;
        margin-right: 280px;
    }
}

@media screen and (max-width:353px) { 
    .first-section {
        text-align: center;
    }
    h1 {
        font-size: 28px;
    }
    .subscribe-msg{
        margin-top: 1rem;
    }
    input {
        width: 310px;
        margin-left: 0.5px;
        margin-bottom: 1px;
    }
    button {
        width: 310px;
        margin-left: 0.5px;
    }
    .dashboard-svg {
        width: 340px;
        height: 225px;
    }
    .icon {
        margin-top: 1.5rem;
    }
    .footer {
        margin-top: 1rem;
        text-align: center;
    }
    .error {
        margin-top: 12px;
    }
}

@media screen and (min-width:281px) and (max-width:333px) { 
    .logo {
        margin-left: 20px;
    }
    h1 {
        font-size: 27px;
        margin-left: 20px;
    }
    .subscribe-msg{
        margin-top: 1rem;
    }
    input {
        width: 310px;
        margin-left: 0.5px;
    }
    button {
        width: 310px;
        margin-left: 0.5px;
        margin-top: 1px;
    }
    .dashboard-svg {
        width: 340px;
        height: 225px;
    }
    .icon {
        margin-top: 1.5rem;
    }
    .social-media {
        margin-left: 30px;
    }
    .footer {
        margin-top: 1rem;
        margin-left: 30px;
    }
    .error {
        margin-top: 12px;
    }
}

@media screen and (max-width:280px) {
    .wrapper {
        overflow: hidden;
    }
    h1 {
        font-size: 25px;
    }
    .subscribe-msg{
        margin-top: 1rem;
    }
    input {
        width: 260px;
        margin-left: 1px;
    }
    button {
        width: 260px;
        margin-top: 0.5px;
        margin-left: 1px;
    }
    .dashboard-svg {
        width: 275px;
        height: 180px;
    }
    .icon {
        margin-top: 1.5rem;
    }
    .footer {
        margin-top: 1rem;
    }
    .error {
        margin-top: 12px;
    }
}

@media screen and (min-width:180px) and (max-width:276px) {
    .wrapper {
        overflow: hidden;
    }
    h1 {
        font-size: 25px;
    }
    .subscribe-msg{
        margin-top: 1rem;
    }
    input {
        width: 200px;
        margin-bottom: 1rem;
        margin-left: 1px;
    }
    button {
        width: 200px;
        margin-left: 1px;
    }
    .dashboard-svg {
        width: 230px;
        height: 150px;
    }
    .icon {
        margin-top: 1.5rem;
    }
    .footer {
        margin-top: 1rem;
    }
    .error {
        margin-top: 12px;
    }
}
